<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TRC Component Tests" parallel="classes">
    <classes>
      <class name="com.rs.cucumber.runners.LoginFeatureRunner"/>
      <class name="com.rs.cucumber.runners.SearchFeatureRunner"/>     
      <class name="com.rs.cucumber.runners.PurchaseFeatureRunner"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
